<h3 class="p-4 text-center"><b><i>Add Employee</i></b></h3>
<form #mydata="ngForm">


<label class="p-4"><b><i>Employee name:</i></b>

<input #name  type="text" id="name" minlength="3" maxlength="30" name="uname" ngModel pattern="[a-zA-Z]+" required>

</label> <br><br>


<label for="location" class="p-4"><b><i>Location:</i></b>
  <select #loc id="location" minlength="3" maxlength="30" pattern="[a-zA-z]+"  ngModel name="loc" required>

    <option value="Bangalore" selected >Bangalore</option>
    <option value="Chennai" >Chennai</option>
    <option value="Pune">Pune</option>
    <option value="Hyderabad">Hyderabad</option>
  </select>
</label><br><br>

<label class="p-4"><b><i>Email</i></b>:
<input #email type="email" id="email" name="email" ngModel pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}">
</label>
<br><br>

<label class="p-4"><b><i>Mobile</i></b>
<input #mobile pattern="[7-9][0-9]{9}" name="number" id="number" ngModel required >
</label><br><br>
<div class="text-center">
<button [disabled]="!mydata.form.valid" id ="add" (click)="addData(name.value,loc.value,email.value,mobile.value)" routerLink="/emproute" class="btn btn-primary">Submit</button>
</div>

</form>