<label class="text-center p-3"><b>Employee Details</b></label><br>
<label class="p-4" id="id"><b><i>Id:{{emp.id}}</i></b></label><br>
<label class="p-4" id="name"><b><i>Name:{{emp.name}}</i></b></label><br>
<label class="p-4" id="location"><b><i>Location:{{emp.location}}</i></b></label><br>
<label class="p-4" id="email"><b><i>Email:{{emp.email}}</i></b></label><br>
<label class="p-4" id="number"><b><i>Mobile:{{emp.mobile}}</i></b></label><br>
<div class="text-center p-4">
<button id="back" class="btn btn-primary " (click)="back()">Back</button>
</div>
