<h3 class="p-4 text-center"><b><i>Edit Employees</i></b></h3>

<form #myform="ngForm">

  <label class="p-4"><b><i>Employee name:</i></b>

<input type="text" id="name" minlength="3" maxlength="30" name="uname" [(ngModel)]="emp.name" pattern="[a-zA-Z]+" required>

</label> <br><br>

<label  class="p-4"><b><i>Location:</i></b>
  <select id="location" minlength="3" maxlength="30" name="location"  [(ngModel)]="emp.location" pattern="[a-zA-z]+">
     <option value="Bangalore">Bangalore</option>
    <option value="Chennai" >Chennai</option>
    <option value="Pune">Pune</option>
    <option value="Hyderabad">Hyderabad</option>
  </select>
</label><br><br>

<label class="p-4"><b><i>Email</i></b>:
<input type="email" id="email" name="email" [(ngModel)]="emp.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}">
</label>
<br><br>

<label class="p-4"><b><i>Mobile</i></b>
<input  pattern="[7-9][0-9]{9}" name="number" id="number" required [(ngModel)]="emp.mobile">
</label><br><br>
<div class="text-center">

<button class="btn btn-primary" id="update" [disabled]="!myform.form.valid" (click)="Update()" routerLink="/emproute">Update</button>
</div>

</form>