<br><br>
<label class="pl-4"><b><i>Filter By:</i></b></label><br>
<div class="pl-2">
<input type="text" id="filter" [(ngModel)]="search" autofocus>
</div><br>
<label class="pl-2"><b><i>Total No Of Employees:</i></b></label> 
 <label id="count"><b>{{(employee| empFilter:search).length}}</b></label>  
<br>
<table>
  <tr>
<th class="p-2">Emp Id</th>
<th class="p-2">Name</th>
<th class="p-2">Location</th>
<th class="p-2">Email</th>
<th class="p-2">Number</th>
<th class="p-2">Edit</th>
<th class="p-2">Delete</th>
  </tr>

  <tr *ngFor="let emp of employee |empFilter:search">
    <td> <a class="p-2" routerLink="/details/{{emp.id}}">{{emp.id}}</a></td>

    <td class="p-2" id="name{{emp.id}}">{{emp.name}}</td>
    <td class="p-2" id="loc{{emp.id}}">{{emp.location}}</td>
    <td class="p-2" id="email{{empid}}">{{emp.email}}</td>
    <td class="p-2" id="mob{{emp.id}}">{{emp.mobile}}</td>

    <td><a id="edit{{emp.id}}" class="p-2" routerLink="/edit/{{emp.id}}"> Edit{{emp.id}}</a></td>

    <td><a class="p-2" id="delete{{emp.id}}" routerLink="/delete/{{emp.id}}">Delete{{emp.id}}</a></td>
  </tr>
</table>
  